@import './themes';
@import './assets/globalVariable.scss';
// global variables

* {
  font-family: $fontFamily;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343A40;
  border-radius: 10px;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #343A40;
  border-radius: 10px;
  width: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343A40;
  width: 8px;
}

.f-8 {
  font-size: 8px;
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-40 {
  font-size: 40px;
}

.gx-1 {
  column-gap: 1rem;
}

.gy-1 {
  row-gap: 1rem;
}

.id-container {
  display: block;
  color: #666;
}

.builder {
  margin-top: 54px;
}

.draggable-placeholder {
  border: 2px dashed $gray1 !important;
  background-color: #F7F7F7 !important;
}

.sortable-header {
  background-color: #f0f0f0;
  padding: 3px 10px;
  border-bottom: none;
  color: #333;
}

.bdr-solid {
  border: 0.4px #eeeeee solid;
}

.bdr-dashed {
  border: 0.4px #eeeeee dashed;
}

.move {
  cursor: move;
}

.bdr-col {
  min-height: 100px;
}

#navbar {
  background-color: #c5cdd4;
}

.bdr-col {
  height: auto;
  border: 1px #eeeeee dashed;
}

.bdr-row {
  min-height: 100px;
  border: 0.4px #eeeeee solid;
  /* width: 100%;    */
}

.bg-light-grey {
  background-color: #e2e2e2;
  /* background-color: #111; */
  /* color: #666; */
}

#btn-style {
  float: right;
  margin-bottom: 10px;
}

.btn-transparent {
  background: transparent;
  outline: none;
}

.custom-primary-btn {
  border-radius: 3rem;
  border: 2px solid $blue1;
  padding: 0.75rem 1.5rem;
  color: $blue1;
  background-color: $primary-white;
  font-weight: 600;
  font-family: 'Poppins';
  margin: 0px 1rem;
}

#formElements {
  height: 400px;
  overflow: auto;
}

.mt-30px {
  margin-top: 30px !important;
}

#form-container {
  /* border: 0.4px #a1a1a1 solid; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  // margin-top: 30px;
}

#form {
  overflow: auto;
  min-height: 100%;
  height: 480px !important;
}

.space {
  margin-top: 60px !important;
}

.nav-tabs-tabsize {
  min-width: 100px;
  text-align: center;
}

.spacing {
  margin-left: 50px;
}

.spacing2 {
  margin-top: 60px;
}

.paragraph {
  margin-top: 56px;
  color: white;
}

.nextdiv {
  margin-top: 100px;
  /* margin-left: 50px; */
  width: 100%;
  height: 100px;
  margin-bottom: 50px;

}


legend {
  width: auto;
  padding: 5px;
  margin-left: 10px;
}


.circle {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #f2f0eb;
  // border: 1px rgb(202, 202, 202) solid;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content span {
  vertical-align: middle;
  display: inline-block;
}


.div-style {
  background: #4e85b4;
  height: 100px;
}

.div-preview-style {
  background: #4e85b4;
  height: 50px;

}

.div-preview-style-paragraph {
  margin-top: 52px;
  color: white;

}

#output-container {
  height: 100vh;
  overflow: auto;
}

pre {
  padding: 15px;
  margin: 0px;
  min-height: 100%;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

.removed {
  display: none;
}

#navbar {
  overflow: hidden;
  background-color: #c5cdd4;
  position: fixed;
  width: 100%;
  z-index: 1060;
  margin: 0;
}

.h1 {
  text-align: center;
}

.checkboxstyle {
  position: absolute;
}

.icon-box img {
  border: 1px #444 dashed;
  border-radius: 3px;
  height: 32px;
}

.field-actions {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 1010;
  font-size: 12px;
  color: #333;
}

.overlay {
  z-index: 1050;
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-modal {
  margin: auto;
  width: 80%;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}

.modal-footer {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}

/* #output-container { } */



#output-container {
  height: 100%;
  overflow: auto;
}

pre {
  padding: 15px;
  margin: 0px;
  min-height: 100%;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

.removed {
  display: none;
}

#navbar {
  overflow: hidden;
  background-color: #c5cdd4;
  position: fixed;
  width: 100%;
  z-index: 1060;
  margin: 0;
}

.h1 {
  text-align: center;
}

.checkboxstyle {
  position: absolute;
}

.icon-box img {
  border: 1px #444 dashed;
  border-radius: 3px;
  height: 32px;
}

.overlay {
  z-index: 1050;
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-modal {
  margin: auto;
  width: 80%;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}


.remove-on-drop {
  cursor: pointer;
}

#jsonBtn {
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 60px;
  width: 40px;
  height: 40px;
  left: -40px;
  /* border: 1px #222 solid;  */
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #e3e3e3;
  padding: 3px;
  padding-left: 10px;
}


.create-form-custom-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgb(0, 0, 0.17);
  animation-name: customModalOpen;
  animation-duration: 2s;

}

.closeBtn {
  color: #000;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;

}

.custom-modal-header {
  background: #c5cdd4;
  padding: 15px;

}

.custom-modal-body {
  padding: 10px 20px;
}

.custom-modal-header h2 {
  margin: 0px;
}

.custom-modal-footer {
  background: #c5cdd4;
  padding: 10px 20px;
  text-align: right;
}

.login-dropdown {
  border: solid 1px #ced4da;
  /* width: 100%; */
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

@keyframes customModalOpen {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffffb4;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
  }
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 7px;
  line-height: 20px;
  padding: 0;
  outline: none !important;
  z-index: 100;
}

.tab-content {
  input[type="search"] {
    border: none;
    border: 1px #ccc solid;
    padding: 4px 10px;
    border-radius: 4px;
  }
}

table.datatable {
  border-collapse: collapse;
}

.table {
  th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
    font-weight: 600;
  }

  tr:last-child {
    td {
      border-bottom: 1px solid #dee2e6;
    }
  }
}

.dataTables_empty {
  display: none !important;
}

.btn-white {
  color: #222;
  background-color: #fff;
  border-color: #e2e2e2;
}

.acc-card {
  // border-color: #444;
  background-color: white;
  // padding: 10px;
  border: none !important;

  .acc-header {
    background-color: white;
    color: black !important;
    font-weight: 600;
    cursor: pointer;

    p {
      font-size: 16px;
    }
  }
}

.minw-60px {
  min-width: 60px;
}

.minw-80px {
  min-width: 80px;
}

.minw-100px {
  min-width: 100px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.modal-content {
  border: none !important;
  border-radius: 2px;

  .modal-body {
    .modal-title {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      line-height: 26px;
      padding: 12px 15px;
      background-color: #f2f2f2;
    }

    .close {
      font-size: 26px;
      line-height: 20px;
      outline: none;

      span {
        line-height: 20px;
        outline: none;
      }
    }
  }
}

.w-100 {
  width: 100%;
}

.tabMain {
  padding: 0;
  width: 100%;

  // box-shadow: 3px 0 7px #d5d5d5;
  // position: fixed;
  // background: #fff;
  // z-index: 9;
  // overflow: auto;
  // top: 100px;
  // bottom: 0;
  // width: 210px;
  // left: 0;
  // transition: all .3s;
  // -webkit-transition: all .3s;

  .sunNav {
    width: 100%;
    display: block;
    padding: 11px 12px;
    line-height: 14px;
    border-left: 4px transparent solid;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;

    &:hover {
      background-color: #f3f3f3;
      border-left: 4px #008AFF solid;
    }
  }
}

.frm-fieldset {
  border: 1px #dee2e6 solid;
  border-radius: 5px;
  padding: 15px;

  legend {
    font-size: 16px;
  }
}

.step {
  height: 4px;
  width: 33px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  // border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.finish {
  background-color: #04AA6D;
}

.step.active {
  opacity: 1;
}

input,
select {
  background: #FFFFFF;
  border: 1px solid $black1;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

// input.form-control{
//   background-color: red;
// }

.isRequired {
  color: red;
}

// newly added global styles

.blackText {
  color: #000;
}

input,
select {
  background: #FFFFFF;
  border: 1px solid $black1;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  padding: 10px;
}

input[type=color] {
  display: none;
}

input[type=radio],
input[type=checkbox] {
  height: 15px;
  width: 17px;
  vertical-align: middle;
  margin-top: -1px;
  cursor: pointer;
}

.primaryButton {
  background: var(--app-gradient-bg);
  color: $primary-white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  width: 100%;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .primaryButton {
    padding: 8px 16px; /* Adjusted padding for small screens */
    max-width: 300px; /* Max width for small screens */
    font-size: 12px;
    border-radius: 20px;
    img {
      height: 12px;
      width: 12px;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .primaryButton {
    max-width: 350px; 
    font-size: 14px;
    img {
      height: 14px;
      width: 14px;
    }
  }
}

/* lg screens */
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .primaryButton {
    padding: 10px 20px; 
    max-width: 350px; 
    font-size: 16px;
    img {
      height: 16px;
      width: 16px;
    }
  }
}

/* lg screens */
@media only screen and (min-width: 1601px) and (max-width: 2200px) {
  .primaryButton {
    padding: 12px 24px; 
    max-width: 380px; 
    font-size: 18px;
    img {
      height: 18px;
      width: 18px;
    }
  }
}

/* xl screens */
@media only screen and (min-width: 2201px){
  .primaryButton {
    padding: 14px 28px; 
    font-size: 20px;
    max-width: 450px; 
    border-radius: 40px;
    img {
      height: 18px;
      width: 18px;
    }
  }
}

html,
body {
  font-family: $fontFamily,
}

.clickable {
  cursor: pointer;
}

app-toast,
.toast-class {
  z-index: 10000;
}

.inputWrapper {
  .color-picker {
    transform: translate(-20%, 30px) !important;
  }

  .color-picker .arrow.arrow-right-bottom {
    display: none;
  }
}

button:focus {
  outline: none !important;
}

// newly added button styles

.toggleSelect {
  float: right;
  margin-right: 15px;

  .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 5px;
    height: 16px;
    margin-bottom: 2px;
    width: 34px; // added for slider width (was44px)
    // bottom: 12px;

    //review commet check
    background-color: #999999;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: $primary-white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background: var(--app-gradient-bg);
  }

  input:focus+.slider {
    box-shadow: 0 0 1px $blue1;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(16px); //toggler width (was 26px)
    -ms-transform: translateX(16px); //toggler width (was 26px)
    transform: translateX(16px); //toggler width (was 26px)
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}